<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 自动扫描web包 ,将带有注解的类 纳入spring容器管理 -->
    <!--<context:component-scan base-package="com.eduoinfo.finances.bank.web"></context:component-scan>-->
    <context:component-scan base-package="com.yonon.demo"></context:component-scan>

    <!-- 引入jdbc配置文件 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- dataSource 配置 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>${driver}</value>
        </property>
        <property name="url">
            <value>${url}</value>
        </property>
        <property name="username">
            <value>${username}</value>
        </property>
        <property name="password">
            <value>${password}</value>
        </property>
    </bean>


    <!-- 对dataSource 数据源进行事务管理 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource"/>

    <!-- 启用对事务注解的支持 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- 交易类型-->
    <bean class="com.yonon.demo.design.account.common.service.impl.ACServiceImpl" id="ACService" />
    <bean class="com.yonon.demo.design.account.common.service.impl.DBServiceImpl" id="DBService" />
    <bean class="com.yonon.demo.design.account.common.service.impl.RPServiceImpl" id="RPService" />
    <bean class="com.yonon.demo.design.account.common.service.impl.CPServiceImpl" id="CPService" />
    <bean class="com.yonon.demo.design.account.common.service.impl.NACServiceImpl" id="NACService" />

    <!--代偿-->
    <bean class="com.yonon.demo.design.account.third.service.impl.JSCompensateServiceImpl" id="partnerCompensateService_JS" />
    <bean class="com.yonon.demo.design.account.third.service.impl.XFXJCompensateServiceImpl" id="partnerCompensateService_XFXJ" />
</beans>